 <aside class="col-lg-3 col-md-3 col-sm-3">
              <!--widgets-->
              <figure class="widget shadow r_corners wrapper m_bottom_30">
                <figcaption>
                  <h3 class="color_light">Заголовок</h3>
                </figcaption>
                <div class="widget_content">
                  <p>Здесь нужно что то разместить</p>
                </div>
              </figure>
            </aside>