<footer id="footer">
        <div class="footer_top_part p_vr_0">
          <div class="container">
            <div class="row clearfix">
              <div class="col-lg-3 col-md-3 col-sm-3 m_xs_bottom_30 m_bottom_40">
                <p class="m_bottom_15"><%= @footer_content.first.value %></p>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 m_xs_bottom_30 m_bottom_40">
                <ul class="vertical_list">
                  <li><a class="color_light tr_delay_hover" href="#">Ссылка<i class="fa fa-angle-right"></i></a></li>
                  <li><a class="color_light tr_delay_hover" href="#">Ссылка<i class="fa fa-angle-right"></i></a></li>
                  <li><a class="color_light tr_delay_hover" href="#">Ссылка<i class="fa fa-angle-right"></i></a></li>
                  <li><a class="color_light tr_delay_hover" href="#">Ссылка<i class="fa fa-angle-right"></i></a></li>
                </ul>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 m_xs_bottom_30 m_bottom_40">
                <ul class="vertical_list">
                  <li><a class="color_light tr_delay_hover" href="#">Ссылка<i class="fa fa-angle-right"></i></a></li>
                  <li><a class="color_light tr_delay_hover" href="#">Ссылка<i class="fa fa-angle-right"></i></a></li>
                  <li><a class="color_light tr_delay_hover" href="#">Ссылка<i class="fa fa-angle-right"></i></a></li>
                  <li><a class="color_light tr_delay_hover" href="#">Ссылка<i class="fa fa-angle-right"></i></a></li>
                </ul>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 m_bottom_40 m_xs_bottom_30">
                <ul class="vertical_list">
                  <li><a class="color_light tr_delay_hover" href="#">Ссылка<i class="fa fa-angle-right"></i></a></li>
                  <li><a class="color_light tr_delay_hover" href="#">Ссылка<i class="fa fa-angle-right"></i></a></li>
                  <li><a class="color_light tr_delay_hover" href="#">Ссылка<i class="fa fa-angle-right"></i></a></li>
                  <li><a class="color_light tr_delay_hover" href="#">Ссылка<i class="fa fa-angle-right"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <hr class="divider_type_4 ">
        </div>
        <!--copyright part-->
        <div class="footer_bottom_part">
          <div class="container clearfix t_mxs_align_c">
            <p class="f_left f_mxs_none m_mxs_bottom_10">Место для копирайта</p>
            <p class="f_right f_mxs_none m_mxs_bottom_10">Место для счетчиков</p>
          
          </div>
        </div>
      </footer>