<aside class="col-lg-3 col-md-3 col-sm-3">
              <!--widgets-->
              <figure class="widget shadow r_corners wrapper m_bottom_30">
                <figcaption>
                  <h3 class="color_light">Все категории</h3>
                </figcaption>
                <div class="widget_content">
                  <!--Categories list-->
                  <ul class="categories_list">
                    <li class="active">
                      <a href="#" class="f_size_large scheme_color d_block relative">
                        <b>Плитка</b>
                        <span class="bg_light_color_1 r_corners f_right color_dark talign_c"></span>
                      </a>
                      <!--second level-->
                      <ul>
                        <li>
                          <a href="#" class="d_block f_size_large color_dark relative">
                            для ванной
                          </a>
                        </li>
                        <li>
                          <a href="#" class="d_block f_size_large color_dark relative">
                            для кухни
                          </a>
                        </li>
                        <li>
                          <a href="#" class="d_block f_size_large color_dark relative">
                            для коридора
                          </a>
                        </li>
                        <li>
                          <a href="#" class="d_block f_size_large color_dark relative">
                            для гостинной
                          </a>
                        </li>
                        <li>
                          <a href="#" class="d_block f_size_large color_dark relative">
                            для фасада
                          </a>
                        </li>
                        <li>
                          <a href="#" class="d_block f_size_large color_dark relative">
                            для пола
                          </a>
                        </li>
                        <li>
                          <a href="#" class="d_block f_size_large color_dark relative">
                            для стройки
                          </a>
                        </li>
                        <li>
                          <a href="#" class="d_block f_size_large color_dark relative">
                            для общественная
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#" class="f_size_large color_dark d_block relative">
                        <b>Керамогранит</b>
                        <span class="bg_light_color_1 r_corners f_right color_dark talign_c"></span>
                      </a>
                      <!--second level-->
                      <ul class="d_none">
                        <li>
                          <a href="#" class="d_block f_size_large color_dark relative">
                            для ванной
                          </a>
                        </li>
                        <li>
                          <a href="#" class="d_block f_size_large color_dark relative">
                            для кухни
                          </a>
                        </li>
                        <li>
                          <a href="#" class="d_block f_size_large color_dark relative">
                            для коридора
                          </a>
                        </li>
                        <li>
                          <a href="#" class="d_block f_size_large color_dark relative">
                            для гостинной
                          </a>
                        </li>
                        <li>
                          <a href="#" class="d_block f_size_large color_dark relative">
                            для фасада
                          </a>
                        </li>
                        <li>
                          <a href="#" class="d_block f_size_large color_dark relative">
                            для пола
                          </a>
                        </li>
                        <li>
                          <a href="#" class="d_block f_size_large color_dark relative">
                            для стройки
                          </a>
                        </li>
                        <li>
                          <a href="#" class="d_block f_size_large color_dark relative">
                            общественный
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#" class="f_size_large color_dark d_block relative">
                        <b>Клинкер</b>
                        <span class="bg_light_color_1 r_corners f_right color_dark talign_c"></span>
                      </a>
                      <!--second level-->
                      <ul class="d_none">
                        <li>
                          <a href="#" class="d_block f_size_large color_dark relative">
                            для ванной
                          </a>
                        </li>
                        <li>
                          <a href="#" class="d_block f_size_large color_dark relative">
                            для кухни
                          </a>
                        </li>
                        <li>
                          <a href="#" class="d_block f_size_large color_dark relative">
                            для коридора
                          </a>
                        </li>
                        <li>
                          <a href="#" class="d_block f_size_large color_dark relative">
                            для гостинной
                          </a>
                        </li>
                        <li>
                          <a href="#" class="d_block f_size_large color_dark relative">
                            для фасада
                          </a>
                        </li>
                        <li>
                          <a href="#" class="d_block f_size_large color_dark relative">
                            для пола
                          </a>
                        </li>
                        <li>
                          <a href="#" class="d_block f_size_large color_dark relative">
                            для стройки
                          </a>
                        </li>
                        <li>
                          <a href="#" class="d_block f_size_large color_dark relative">
                            общественный
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#" class="f_size_large color_dark d_block relative">
                        <b>Мозайка</b>
                        <span class="bg_light_color_1 r_corners f_right color_dark talign_c"></span>
                      </a>
                      <!--second level-->
                      <ul class="d_none">
                        <li>
                          <a href="#" class="d_block f_size_large color_dark relative">
                            для ванной
                          </a>
                        </li>
                        <li>
                          <a href="#" class="d_block f_size_large color_dark relative">
                            для кухни
                          </a>
                        </li>
                        <li>
                          <a href="#" class="d_block f_size_large color_dark relative">
                            для коридора
                          </a>
                        </li>
                        <li>
                          <a href="#" class="d_block f_size_large color_dark relative">
                            для гостинной
                          </a>
                        </li>
                        <li>
                          <a href="#" class="d_block f_size_large color_dark relative">
                            для фасада
                          </a>
                        </li>
                        <li>
                          <a href="#" class="d_block f_size_large color_dark relative">
                            для пола
                          </a>
                        </li>
                        <li>
                          <a href="#" class="d_block f_size_large color_dark relative">
                            для стройки
                          </a>
                        </li>
                        <li>
                          <a href="#" class="d_block f_size_large color_dark relative">
                            общественная
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </figure>

            </aside>