<style type="text/css">
	.margin-top-10{
		padding: 0 20px;
	}
</style>
<div class="page-content-wrapper">
		<div class="page-content">
			<!-- END PAGE BREADCRUMB -->
			<!-- END PAGE HEADER-->
			<!-- BEGIN PAGE CONTENT-->
			<div class="row">
				<div class="col-md-12">
					<!-- BEGIN EXAMPLE TABLE PORTLET-->
					<div class="portlet box grey-cascade">
						<div class="portlet-title">
							<div class="caption">
								Главная
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-toolbar">
								<div class="row">
									<div class="col-md-6">
									</div>
								</div>
							</div>
							<div class="row margin-top-10">
				<p>Это базовая версия системы управления сайтом. Ближайшие несколько месяцев Вы будете получать бесплатные обновления, которые расширят функционал сайта и откроют новые возможности для его администрирования</p>
				<p>Для получения дополнительной информации о работе сайта или при обнаружении проблем работоспособности Вы можете связаться со мной c помощью <a href="http://vk.com/dima_antonenko">Вконтакте</a>, <a href="https://www.facebook.com/dima.antonenko.940">Facebook</a> или <a href="skype:programmer_1209">Skype</a> -- programmer_1209</p>
			</div>
					</div>
					<!-- END EXAMPLE TABLE PORTLET-->
				</div>
			</div>
			<!-- END PAGE CONTENT -->
		</div>
	</div>
