<% provide(:title, @text_contacts.where(name: "Title").first.value) %>
<% provide(:description, @text_contacts.where(name: "Description").first.value) %>
<% provide(:keywords, @text_contacts.where(name: "Keywords").first.value) %>

<div id="content">
    <h1><span class="h1-top">Контакты</span></h1>
    <div class="information_content">
      <div>
      	<%= @text_contacts.where(name:"Содержимое страницы контакты").first.value.html_safe %>
      </div>
    </div>
  </div>