<% if  @minicart %>
  <div id="cart">
          <div class="heading">
            <div class="cart_top_in">
              <a href = "<%= @cart_url %>" ><h4>Корзина:</h4><span id="cart-total">

			  <%= number_to_currency( @minicart.total_price, unit: "р.",delimiter: " ' ",  format: "%n %u", precision: 0) %>
              </span></a></div>
          </div>
  </div>

<% end %>