
<div class="page-content-wrapper">
		<div class="page-content">
			<div class="row">
				<div class="col-md-12">
					<%= @project.changes %><hr /><br/>
					<% params.each do |param| %>
						<%= param %><hr />
					<% end %>	

				</div>
			</div>
			<!-- END PAGE CONTENT-->
		</div>
	</div>

</div>

